<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newS</title>
    <font size = "2">
        <a href="/logout" class="news__text">Log out &emsp; |</a>
        <a href="/changePW" class="news__text">Change password &emsp; |</a>
        <a href="/deleteAC" class="news__text">Delete account &emsp; |</a>
        <a href="/home/archive" class="news__text">Archive &emsp; |</a>
    </font>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <header class="header">
        <a href="/home" class="news__log" style="font-size: 3rem"> newS</a>
        <%- include('./partials/search.ejs') %>
    </header>

    <div class="wrapper">
        <div class="news-single">
                <a href="javascript:history.back()" class="news__text">🠔Back</a>
                <p></p>
                    <div class="news_weather">
                        <div>

                            <h1><%- weatherNow.generalSituation %></h1>
                            <h1></h1>
                            <h2><%- weatherNow.tcInfo %></h2>
                            <h2><%- weatherNow.fireDangerWarning %></h2>
                            <h1></h1>
                            <h2><%- weatherNow.forecastPeriod %> : <%- weatherNow.forecastDesc %></h2>
                            <h1></h1>
                            <h2>Outlook : <%- weatherNow.outlook %></h2>
                            <h2>Updated at <%- weatherNow.updateTime %></h2>
                            <p><a href="https://www.hko.gov.hk/en/index.html"class="news__text">➥ Hong Kong Observatory</a></p>
                        </div>
                        
                           
                            <div>
                                <% weather.forEach(function(weatherForecast, index) { %>
                                <table style="width:90%">
                                    <th>  
                                        <th>
                                            <img style="background-color:#c43d3d;border-radius: 40px; padding: 10px;" width="100px" src="https://www.hko.gov.hk/images/HKOWxIconOutline/pic<%-weatherForecast.ForecastIcon %>.png">
                                        </th>
                                        <th style="width:60%">
                                            <h1><%- weatherForecast.forecastDate %>  (<%- weatherForecast.week %>)</h1>
                                            <h2><%- weatherForecast.forecastWeather %></h2>
                                            <h2>Temperature : <%- weatherForecast.forecastMintemp.value %> - <%- weatherForecast.forecastMaxtemp.value %> °C</h2>
                                            <h2>Humidity : <%- weatherForecast.forecastMinrh.value %> - <%- weatherForecast.forecastMaxrh.value %> %</h2>
                                        </th>
                                    </th>
                                </table>
                                <h1></h1>
                                <h1></h1>
                                <% }) %>
                            </div>
                            
                        
                    </div>
        </div>
    </div>  
</body>
</html>
